src/schema/test/ifmap_link_attr.xsd

<!-- 
 Copyright (c) 2013 Juniper Networks, Inc. All rights reserved.
 -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ifmap="http://www.trustedcomputinggroup.org/2010/IFMAP/2">

<xsd:element name="foo" type="ifmap:IdentityType"/>
<xsd:element name="bar" type="ifmap:IdentityType"/>

<xsd:element name="foo-bar-link" type="AttributeType"/>
<!-- #IFMAP-SEMANTICS-IDL
     Link('foo-bar-link', 'foo', 'bar', ['ref']) -->

<xsd:complexType name="AttributeType">
    <xsd:all>
        <xsd:element name="attr1" type="xsd:integer"/>
        <xsd:element name="attr2" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

</xsd:schema>
