src/schema/device_schema/juniper/juniper_common.xsd

<xsd:schema
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.juniper.net/2016/device-config/0">

<xsd:complexType name="Address">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="virtual-gateway-address" type="xsd:string"/>
       <xsd:element name="primary"/>
       <xsd:element name="preferred"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="InetFilter">
    <xsd:all>
        <xsd:element name="input" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FamilyInet">
    <xsd:choice>
        <xsd:element name="address" type="Address" maxOccurs="unbounded"/>
        <xsd:element name="filter" type="InetFilter"/>
        <xsd:element name="unicast"/>
    </xsd:choice>
</xsd:complexType>

<xsd:complexType name="FamilyInet6">
    <xsd:choice>
        <xsd:element name="address" type="Address" maxOccurs="unbounded"/>
        <xsd:element name="filter" type="InetFilter"/>
        <xsd:element name="unicast"/>
    </xsd:choice>
</xsd:complexType>

<xsd:complexType name="FamilyInetVpn">
    <xsd:all>
        <xsd:element name="unicast"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FamilyInet6Vpn">
    <xsd:all>
        <xsd:element name="unicast"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FamilyEvpn">
    <xsd:all>
        <xsd:element name="signaling"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Family">
    <xsd:all>
        <xsd:element name="inet" type="FamilyInet"/>
        <xsd:element name="inet6" type="FamilyInet6"/>
        <xsd:element name="inet-vpn" type="FamilyInetVpn"/>
        <xsd:element name="inet6-vpn" type="FamilyInet6Vpn"/>
        <xsd:element name="evpn" type="FamilyEvpn"/>
        <xsd:element name="route-target" type="xsd:string"/>
        <xsd:element name="bridge"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ProxyArp">
    <xsd:all>
        <xsd:element name="restricted"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Unit">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="family" type="Family"/>
        <xsd:element name="vlan-id" type="xsd:string"/>
        <xsd:element name="encapsulation" type="xsd:string"/>
        <xsd:element name="proxy-arp" type="ProxyArp"/>
        <xsd:element name="service-domain" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Interface">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="gratuitous-arp-reply"/>
        <xsd:element name="flexible-vlan-tagging"/>
        <xsd:element name="encapsulation" type="xsd:string"/>
        <xsd:element name="unit" type="Unit" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Interfaces">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="interface" type="Interface" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ForwardingOptions">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="family" type="Family" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="QualifiedNextHop">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="preference" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Route">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="discard"/>
        <xsd:element name="next-table" type="xsd:string"/>
        <xsd:element name="next-hop" type="xsd:string"/>
        <xsd:element name="qualified-next-hop" type="QualifiedNextHop"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Static">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="route" type="Route" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RIB">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="static" type="Static"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DestinationNetworks">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DynamicTunnel">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="source-address" type="xsd:string"/>
        <xsd:element name="gre"/>
        <xsd:element name="destination-networks" type="DestinationNetworks" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DynamicTunnels">
    <xsd:all>
        <xsd:element name="dynamic-tunnel" type="DynamicTunnel" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingOptions">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="static" type="Static" maxOccurs="unbounded"/>
        <xsd:element name="rib" type="RIB" maxOccurs="unbounded"/>
        <xsd:element name="router-id" type="xsd:string"/>
        <xsd:element name="route-distinguisher-id" type="xsd:string"/>
        <xsd:element name="autonomous-system" type="xsd:string"/>
        <xsd:element name="dynamic-tunnels" type="DynamicTunnels"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="BgpGroup">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="type" type="xsd:string"/>
        <xsd:element name="local-address" type="xsd:string"/>
        <xsd:element name="hold-time" type="xsd:integer"/>
        <xsd:element name="authentication-key" type="xsd:string"/>
        <xsd:element name="peer-as" type="xsd:string"/>
        <xsd:element name="family" type="Family"/>
        <xsd:element name="neighbor" type="BgpGroup" maxOccurs="unbounded"/>
        <xsd:element name="multihop"/>
        <xsd:element name="export" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Bgp">
    <xsd:all>
        <xsd:element name="group" type="BgpGroup" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Protocols">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="bgp" type="Bgp"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DestinationAddress">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstance">
    <xsd:all>
        <xsd:element name="routing-instance-name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Community">
    <xsd:all>
        <xsd:element name="add"/>
        <xsd:element name="community-name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="TranslationType">
    <xsd:choice>
        <xsd:element name="basic-nat44"/>
        <xsd:element name="dnat-44"/>
    </xsd:choice>
</xsd:complexType>

<xsd:complexType name="Translated">
    <xsd:all>
        <xsd:element name="source-prefix" type="xsd:string"/>
        <xsd:element name="destination-prefix" type="xsd:string"/>
        <xsd:element name="translation-type" type="TranslationType"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NextHop">
    <xsd:all>
        <xsd:element name="self"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Then">
    <xsd:all>
        <xsd:element name="community" type="Community" maxOccurs="unbounded"/>
        <xsd:element name="routing-instance" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="translated" type="Translated"/>
        <xsd:element name="accept"/>
        <xsd:element name="reject"/>
        <xsd:element name="next-hop" type="NextHop"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="From">
    <xsd:all>
        <xsd:element name="community" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="destination-address" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="source-address" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="family" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Term">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="from" type="From"/>
        <xsd:element name="then" type="Then"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PolicyStatement">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="term" type="Term"/>
        <xsd:element name="then" type="Then"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CommunityType">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="members" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PolicyOptions">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="policy-statement" type="PolicyStatement" maxOccurs="unbounded"/>
        <xsd:element name="community" type="CommunityType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallFilter">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="term" type="Term" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallInet">
    <xsd:all>
        <xsd:element name="filter" type="FirewallFilter" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallFamily">
    <xsd:choice>
        <xsd:element name="inet" type="FirewallInet"/>
        <xsd:element name="inet6" type="FirewallInet"/>
    </xsd:choice>
</xsd:complexType>

<xsd:complexType name="Firewall">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="family" type="FirewallFamily"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="VXLan">
    <xsd:all>
        <xsd:element name="vni" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Domain">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="vlan-id" type="xsd:string"/>
        <xsd:element name="routing-interface" type="xsd:string"/>
        <xsd:element name="vxlan" type="VXLan"/>
        <xsd:element name="interface" type="Interface" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="BridgeDomains">
    <xsd:all>
        <xsd:element name="domain" type="Domain" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Evpn">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="encapsulation" type="xsd:string"/>
        <xsd:element name="extended-vni-list" type="xsd:string"/>
        <xsd:element name="interface" type="Interface" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstanceProtocols">
    <xsd:all>
        <xsd:element name="evpn" type="Evpn"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="AutoExport">
    <xsd:all>
        <xsd:element name="family" type="Family"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstanceRoutingOptions">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="static" type="Static"/>
        <xsd:element name="auto-export" type="AutoExport"/>
        <xsd:element name="rib" type="RIB"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Instance">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="vtep-source-interface" type="xsd:string"/>
        <xsd:element name="instance-type" type="xsd:string"/>
        <xsd:element name="vrf-import" type="xsd:string"/>
        <xsd:element name="vrf-export" type="xsd:string"/>
        <xsd:element name="vlan-id" type="xsd:string"/>
        <xsd:element name="routing-interface" type="xsd:string"/>
        <xsd:element name="protocols" type="RoutingInstanceProtocols"/>
        <xsd:element name="bridge-domains" type="BridgeDomains"/>
        <xsd:element name="vrf-table-label"/>
        <xsd:element name="routing-options" type="RoutingInstanceRoutingOptions"/>
        <xsd:element name="interface" type="Interface" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstances">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="instance" type="Instance" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NATRules">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NextHopService">
    <xsd:all>
        <xsd:element name="inside-service-interface" type="xsd:string"/>
        <xsd:element name="outside-service-interface" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ServiceSet">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="nat-rules" type="NATRules" maxOccurs="unbounded"/>
        <xsd:element name="next-hop-service" type="NextHopService"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Rule">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="match-direction" type="xsd:string"/>
        <xsd:element name="term" type="Term"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NAT">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="allow-overlapping-nat-pools"/>
        <xsd:element name="rule" type="Rule" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Services">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="service-set" type="ServiceSet" maxOccurs="unbounded"/>
        <xsd:element name="nat" type="NAT" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Groups">
    <xsd:attribute name="operation" type="xsd:string"/>
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="interfaces" type="Interfaces"/>
        <xsd:element name="forwarding-options" type="ForwardingOptions"/>
        <xsd:element name="routing-options" type="RoutingOptions"/>
        <xsd:element name="protocols" type="Protocols"/>
        <xsd:element name="policy-options" type="PolicyOptions"/>
        <xsd:element name="firewall" type="Firewall"/>
        <xsd:element name="routing-instances" type="RoutingInstances"/>
        <xsd:element name="services" type="Services"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ApplyGroups">
    <xsd:attribute name="operation" type="xsd:string"/>
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Configuration">
    <xsd:all>
       <xsd:element name="groups" type="Groups"/>
       <xsd:element name="apply-groups" type="ApplyGroups"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="config">
    <xsd:attribute name="xmlns:xc" type="xsd:string" default="urn:ietf:params:xml:ns:netconf:base:1.0"/>
    <xsd:attribute name="xmlns:junos" type="xsd:string" default="http://xml.juniper.net/junos"/>
    <xsd:all>
        <xsd:element name="configuration" type="Configuration"/>
    </xsd:all>
</xsd:complexType>

</xsd:schema>
