src/discovery/services.xsd

<!--
 Copyright (c) 2013 Juniper Networks, Inc. All rights reserved.
 -->
<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ifmap-server">
        <xs:element name="ip-addr" type="xs:string" />
        <xs:element name="port"    type="xs:string" />
    </xs:element>

    <xs:element name="bgp-server">
        <xs:element name="ip-addr" type="xs:string" />
        <xs:element name="port"    type="xs:string" />
    </xs:element>

    <xs:element name="xmpp-server">
        <xs:element name="ip-addr" type="xs:string" />
        <xs:element name="port"    type="xs:string" />
    </xs:element>

</xs:schema>
