src/config/device-manager/device_schema/abstract_device/abstract_device.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.juniper.net/2016/device-abstract-config"
    xmlns:dac="http://www.juniper.net/2016/device-abstract-config">

<xsd:complexType name="Device">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="system" type="dac:System"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="evpn" type="dac:Evpn"/>
       <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
       <xsd:element name="routing-instances" type="dac:RoutingInstance" maxOccurs="unbounded"/>
       <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
       <xsd:element name="forwarding-options" type="dac:ForwardingOptions"/>
       <xsd:element name="firewall" type="dac:Firewall"/>
       <xsd:element name="physical-interfaces" type="dac:PhysicalInterface" maxOccurs="unbounded"/>
       <xsd:element name="security-policies" type="dac:SecurityPolicy" maxOccurs="unbounded"/>
       <xsd:element name="security-zones" type="dac:SecurityZone" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Feature">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="evpn" type="dac:Evpn"/>
        <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
        <xsd:element name="routing-instances" type="dac:RoutingInstance" maxOccurs="unbounded"/>
        <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
        <xsd:element name="firewall" type="dac:Firewall"/>
        <xsd:element name="physical-interfaces" type="dac:PhysicalInterface" maxOccurs="unbounded"/>
        <xsd:element name="security-policies" type="dac:SecurityPolicy" maxOccurs="unbounded"/>
        <xsd:element name="security-zones" type="dac:SecurityZone" maxOccurs="unbounded"/>
        <xsd:element name="tunnel-ip" type="xsd:string"/>
        <xsd:element name="tunnel-destination-networks" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="assisted-replicator" type="dac:AssistedReplicator"/>
        <xsd:element name="storm-control" type="dac:StormControl" maxOccurs="unbounded"/>

    </xsd:all>
</xsd:complexType>

<xsd:complexType name="System">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="vendor-name" type="xsd:string"/>
       <xsd:element name="device-family" type="xsd:string"/>
       <xsd:element name="product-name" type="xsd:string"/>
       <xsd:element name="management-ip" type="xsd:string"/>
       <xsd:element name="physical-role" type="xsd:string"/>
       <xsd:element name="routing-bridging-roles" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="credentials" type="dac:Credentials"/>
       <xsd:element name="loopback-ip-list" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="encapsulation-priorities" type="xsd:string" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="tunnel-ip" type="xsd:string"/>
       <xsd:element name="tunnel-destination-networks" type="dac:Subnet" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="is-ucast-gateway-only" type="xsd:boolean"/>
       <xsd:element name="dummy-ip" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="IpAddress">
    <xsd:all>
       <xsd:element name="address" type="xsd:string"/>
       <xsd:element name="family" type="xsd:string"/>
       <xsd:element name="gateway" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Subnet">
    <xsd:all>
       <xsd:element name="prefix" type="xsd:string"/>
       <xsd:element name="prefix-len" type="xsd:integer"/>
       <xsd:element name="comment" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Route">
    <xsd:all>
       <xsd:element name="prefix" type="xsd:string"/>
       <xsd:element name="prefix-len" type="xsd:integer"/>
       <xsd:element name="next-hop" type="xsd:string"/>
       <xsd:element name="comment" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="GatewayRoute">
    <xsd:all>
       <xsd:element name="ip-address" type="dac:Subnet"/>
       <xsd:element name="gateway" type="dac:Subnet"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Bgp">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="type" type="xsd:string"/>
       <xsd:element name="autonomous-system" type="xsd:integer"/>
       <xsd:element name="cluster-id" type="xsd:integer"/>
       <xsd:element name="ip-address" type="xsd:string"/>
       <xsd:element name="hold-time" type="xsd:integer"/>
       <xsd:element name="authentication-key" type="xsd:string"/>
       <xsd:element name="families" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="peers" type="dac:Bgp" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Credentials">
    <xsd:all>
       <xsd:element name="authentication-method" type="dac:DeviceAuthenticationMethods"/>
       <xsd:element name="user-name" type="xsd:string"/>
       <xsd:element name="password" type="xsd:string"/>
       <xsd:element name="authentication-key" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="DeviceAuthenticationMethods">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="KeyBasedAuthentication"/>
        <xsd:enumeration value="PasswordBasedAuthentication"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AssistedReplicator">
    <xsd:all>
       <xsd:element name="ar-loopback-ip" type="xsd:string"/>
       <xsd:element name="replicator-activation-delay" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StormControl">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="bandwidth-percent" type="xsd:integer"/>
        <xsd:element name="traffic-type" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="actions" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="recovery-timeout" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PimRp">
    <xsd:all>
        <xsd:element name="ip-address" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PimInterface">
    <xsd:all>
        <xsd:element name="interface" type="dac:Reference"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Pim">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="pim-interfaces" type="dac:PimInterface" maxOccurs="unbounded"/>
       <xsd:element name="rp" type="dac:PimRp"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstanceProtocols">
    <xsd:all>
        <xsd:element name="evpn" type="dac:Evpn" maxOccurs="unbounded"/>
        <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
        <xsd:element name="pim" type="dac:Pim" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstance">
    <xsd:all>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="virtual-network-uuid" type="xsd:string"/>
       <xsd:element name="virtual-network-id" type="xsd:string"/>
       <xsd:element name="virtual-network-mode" type="xsd:string"/>
       <xsd:element name="virtual-network-is-internal" type="xsd:boolean"/>
       <xsd:element name="vxlan-id" type="xsd:integer"/>
       <xsd:element name="routing-instance-type" type="xsd:string"/>
       <xsd:element name="is-public-network" type="xsd:boolean"/>
       <xsd:element name="import-targets" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="export-targets" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="static-routes" type="dac:Route" maxOccurs="unbounded"/>
       <xsd:element name="prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
       <xsd:element name="gateways" type="dac:GatewayRoute" maxOccurs="unbounded"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="routing-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="loopback-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="ingress-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="egress-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="nat-rules" type="dac:NatRules"/>
       <xsd:element name="floating-ip-list" type="dac:FloatingIpList" maxOccurs="unbounded"/>
       <xsd:element name="virtual-network-is-shared" type="xsd:boolean"/>
       <xsd:element name="protocols" type="dac:RoutingInstanceProtocols"/>
       <xsd:element name="forwarding-options" type="dac:ForwardingOptions"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FloatingIpMap">
    <xsd:all>
       <xsd:element name="instance-ip" type="xsd:string"/>
       <xsd:element name="floating-ip" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FloatingIpList">
    <xsd:all>
       <xsd:element name="public-routing-instance" type="xsd:string"/>
       <xsd:element name="floating-ips" type="dac:FloatingIpMap" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ForwardingOptions">
    <xsd:all>
        <xsd:element name="dhcp-relay" type="dac:DhcpRelay" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DhcpRelay">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="dhcp-server-ips" type="dac:IpAddress" maxOccurs="unbounded"/>
        <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
        <xsd:element name="dhcp-relay-group" type="xsd:string"/>
        <xsd:element name="in_network" type="xsd:boolean"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Vlan">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="vlan-id" type="xsd:integer"/>
       <xsd:element name="vxlan-id" type="xsd:integer"/>
       <xsd:element name="l3-interface" type="xsd:string"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PhysicalInterface">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="interface-type" type="dac:InterfaceTypes"/>
       <xsd:element name="mac-address" type="xsd:string"/>
       <xsd:element name="ethernet-segment-identifier" type="xsd:string"/>
       <xsd:element name="link-aggregation-group" type="dac:LinkAggrGroup"/>
       <xsd:element name="logical-interfaces" type="dac:LogicalInterface" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="InterfaceTypes">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="irb"/>
        <xsd:enumeration value="loopback"/>
        <xsd:enumeration value="service"/>
        <xsd:enumeration value="regular"/>
        <xsd:enumeration value="lag"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LinkAggrGroup">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="lacp-enabled" type="xsd:boolean"/>
       <xsd:element name="link-members" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="LogicalInterface">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="is-tagged" type="xsd:boolean"/>
       <xsd:element name="vlan-tag" type="xsd:string"/>
       <xsd:element name="unit" type="xsd:integer"/>
       <xsd:element name="firewall-filters" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="ip-addresses" type="dac:IpAddress" maxOccurs="unbounded"/>
       <!-- Deprecated - Use ip-addresses -->
       <xsd:element name="ip-list" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="gateway" type="xsd:string"/>
       <xsd:element name="family" type="xsd:string"/>
       <!-- Deprecated - Use ip-addresses -->
       <xsd:element name="interface-mode" type="xsd:string"/>
       <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
       <xsd:element name="storm-control-profile" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Evpn">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="encapsulation" type="xsd:string"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="From">
    <xsd:all>
        <xsd:element name="community" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="destination-address" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-address" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-ports" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="destination-ports" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="ip-protocol" type="xsd:string"/>
        <xsd:element name="ether-type" type="xsd:string"/>
        <xsd:element name="family" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Then">
    <xsd:all>
        <xsd:element name="community" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="routing-instance" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="source-prefix" type="xsd:string"/>
        <xsd:element name="destination-prefix" type="xsd:string"/>
        <xsd:element name="accept-or-reject" type="xsd:boolean"/>
        <xsd:element name="translation-type" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Term">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="from" type="dac:From"/>
        <xsd:element name="then" type="dac:Then"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SecurityZone">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SecurityPolicy">
    <xsd:all>
        <xsd:element name="from-zone" type="xsd:string"/>
        <xsd:element name="to-zone" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NatRule">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="direction" type="xsd:string"/>
        <xsd:element name="source-addresses" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="destination-addresses" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="destination-prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="translation-type" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NatRules">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="allow-overlapping-nat-pools" type="xsd:boolean"/>
        <xsd:element name="rules" type="dac:NatRule"  maxOccurs="unbounded"/>
        <xsd:element name="inside-interface" type="xsd:string"/>
        <xsd:element name="outside-interface" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallFilter">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="terms" type="dac:Term" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Firewall">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="family" type="xsd:string"/>
        <xsd:element name="firewall-filters" type="dac:FirewallFilter" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CommunityType">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="members" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Reference">
  <xsd:all>
    <xsd:element name="name" type="xsd:string"/>
    <xsd:element name="path" type="xsd:string"/>
  </xsd:all>
</xsd:complexType>

</xsd:schema>
