src/config/device-manager/device_schema/abstract_device/abstract_device.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.juniper.net/2016/device-abstract-config"
    xmlns:dac="http://www.juniper.net/2016/device-abstract-config">

<xsd:complexType name="Device">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="system" type="dac:System"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="evpn" type="dac:Evpn"/>
       <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
       <xsd:element name="routing-instances" type="dac:RoutingInstance" maxOccurs="unbounded"/>
       <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
       <xsd:element name="forwarding-options" type="dac:ForwardingOptions"/>
       <xsd:element name="firewall" type="dac:Firewall"/>
       <xsd:element name="physical-interfaces" type="dac:PhysicalInterface" maxOccurs="unbounded"/>
       <xsd:element name="security-policies" type="dac:SecurityPolicy" maxOccurs="unbounded"/>
       <xsd:element name="security-zones" type="dac:SecurityZone" maxOccurs="unbounded"/>
       <xsd:element name="routing-policies" type="dac:RoutingPolicy" maxOccurs="unbounded"/>
        <xsd:element name="rib-groups" type="dac:RibGroup" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Feature">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="evpn" type="dac:Evpn"/>
        <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
        <xsd:element name="routing-instances" type="dac:RoutingInstance" maxOccurs="unbounded"/>
        <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
        <xsd:element name="firewall" type="dac:Firewall"/>
        <xsd:element name="physical-interfaces" type="dac:PhysicalInterface" maxOccurs="unbounded"/>
        <xsd:element name="security-policies" type="dac:SecurityPolicy" maxOccurs="unbounded"/>
        <xsd:element name="security-zones" type="dac:SecurityZone" maxOccurs="unbounded"/>
        <xsd:element name="tunnel-ip" type="xsd:string"/>
        <xsd:element name="tunnel-destination-networks" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="assisted-replicator" type="dac:AssistedReplicator"/>
        <xsd:element name="storm-control" type="dac:StormControl" maxOccurs="unbounded"/>
        <xsd:element name="telemetry" type="dac:Telemetry" maxOccurs="unbounded"/>
        <xsd:element name="routing-policies" type="dac:RoutingPolicy" maxOccurs="unbounded"/>
        <xsd:element name="rib-groups" type="dac:RibGroup" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="System">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="vendor-name" type="xsd:string"/>
       <xsd:element name="device-family" type="xsd:string"/>
       <xsd:element name="product-name" type="xsd:string"/>
       <xsd:element name="management-ip" type="xsd:string"/>
       <xsd:element name="physical-role" type="xsd:string"/>
       <xsd:element name="routing-bridging-roles" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="credentials" type="dac:Credentials"/>
       <xsd:element name="loopback-ip-list" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="encapsulation-priorities" type="xsd:string" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="tunnel-ip" type="xsd:string"/>
       <xsd:element name="tunnel-destination-networks" type="dac:Subnet" maxOccurs="unbounded"/>
       <!-- Deprecated: These sections are encapsulated inside feature groups -->
       <xsd:element name="is-ucast-gateway-only" type="xsd:boolean"/>
       <xsd:element name="dummy-ip" type="xsd:string"/>
       <xsd:element name="brownfield-global-asn" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="IpAddress">
    <xsd:all>
       <xsd:element name="address" type="xsd:string"/>
       <xsd:element name="family" type="xsd:string"/>
       <xsd:element name="gateway" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Subnet">
    <xsd:all>
       <xsd:element name="prefix" type="xsd:string"/>
       <xsd:element name="prefix-len" type="xsd:integer"/>
       <xsd:element name="comment" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Route">
    <xsd:all>
       <xsd:element name="prefix" type="xsd:string"/>
       <xsd:element name="prefix-len" type="xsd:integer"/>
       <xsd:element name="next-hop" type="xsd:string"/>
       <xsd:element name="comment" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="GatewayRoute">
    <xsd:all>
       <xsd:element name="ip-address" type="dac:Subnet"/>
       <xsd:element name="gateway" type="dac:Subnet"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingPolicyParameters">
    <xsd:all>
        <xsd:element name='import-routing-policies' type='xsd:string' maxOccurs="unbounded"/>
        <xsd:element name='export-routing-policies' type='xsd:string' maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Bgp">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="type" type="xsd:string"/>
       <xsd:element name="autonomous-system" type="xsd:integer"/>
       <xsd:element name="cluster-id" type="xsd:integer"/>
       <xsd:element name="ip-address" type="xsd:string"/>
       <xsd:element name="hold-time" type="xsd:integer"/>
       <xsd:element name="authentication-key" type="xsd:string"/>
       <xsd:element name="authentication-method" type="xsd:string"/>
       <xsd:element name="families" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="peers" type="dac:Bgp" maxOccurs="unbounded"/>
       <xsd:element name="bfd" type="dac:Bfd" maxOccurs="unbounded"/>
       <xsd:element name="routing-policies" type="dac:RoutingPolicyParameters"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Credentials">
    <xsd:all>
       <xsd:element name="authentication-method" type="dac:DeviceAuthenticationMethods"/>
       <xsd:element name="user-name" type="xsd:string"/>
       <xsd:element name="password" type="xsd:string"/>
       <xsd:element name="authentication-key" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="DeviceAuthenticationMethods">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="KeyBasedAuthentication"/>
        <xsd:enumeration value="PasswordBasedAuthentication"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AssistedReplicator">
    <xsd:all>
       <xsd:element name="ar-loopback-ip" type="xsd:string"/>
       <xsd:element name="replicator-activation-delay" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StormControl">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="bandwidth-percent" type="xsd:integer"/>
        <xsd:element name="traffic-type" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="actions" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="recovery-timeout" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="EnabledInterfaceParams">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="sample-rate" type="xsd:integer"/>
        <xsd:element name="polling-interval" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CollectorParams">
    <xsd:all>
        <xsd:element name="ip-address" type="xsd:string"/>
        <xsd:element name="udp-port" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SflowProfile">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="sample-rate" type="xsd:integer"/>
        <xsd:element name="polling-interval" type="xsd:integer"/>
        <xsd:element name="sample-direction" type="xsd:string"/>
        <xsd:element name="agent-id" type="xsd:string"/>
        <xsd:element name="collector-params" type="dac:CollectorParams" maxOccurs="unbounded"/>
        <xsd:element name="adaptive-sample-rate" type="xsd:integer"/>
        <xsd:element name="enabled-interface-type" type="xsd:string"/>
        <xsd:element name="enabled-interface-params" type="dac:EnabledInterfaceParams" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Telemetry">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="sflow-profile" type="dac:SflowProfile"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PimRp">
    <xsd:all>
        <xsd:element name="ip-address" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PimInterface">
    <xsd:all>
        <xsd:element name="interface" type="dac:Reference"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Pim">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="pim-interfaces" type="dac:PimInterface" maxOccurs="unbounded"/>
       <xsd:element name="rp" type="dac:PimRp"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Bfd">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="rx-tx-interval" type="xsd:integer"/>
       <xsd:element name="detection-time-multiplier" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstanceProtocols">
    <xsd:all>
        <xsd:element name="evpn" type="dac:Evpn" maxOccurs="unbounded"/>
        <xsd:element name="bgp" type="dac:Bgp" maxOccurs="unbounded"/>
        <xsd:element name="pim" type="dac:Pim" maxOccurs="unbounded"/>
        <xsd:element name="bfd" type="dac:Bfd" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RibGroup">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="interface-routes" type="xsd:boolean"/>
        <xsd:element name="static" type="xsd:boolean"/>
        <xsd:element name="bgp" type="xsd:boolean"/>
        <xsd:element name="import-rib" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="import-policy" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingInstance">
    <xsd:all>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="description" type="xsd:string"/>
       <xsd:element name="virtual-network-uuid" type="xsd:string"/>
       <xsd:element name="virtual-network-id" type="xsd:string"/>
       <xsd:element name="virtual-network-mode" type="xsd:string"/>
       <xsd:element name="virtual-network-is-internal" type="xsd:boolean"/>
       <xsd:element name="vxlan-id" type="xsd:integer"/>
       <xsd:element name="routing-instance-type" type="xsd:string"/>
       <xsd:element name="is-master" type="xsd:boolean"/>
       <xsd:element name="is-public-network" type="xsd:boolean"/>
       <xsd:element name="import-targets" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="export-targets" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="static-routes" type="dac:Route" maxOccurs="unbounded"/>
       <xsd:element name="prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
       <xsd:element name="gateways" type="dac:GatewayRoute" maxOccurs="unbounded"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="routing-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="loopback-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="ingress-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="egress-interfaces" type="dac:Reference" maxOccurs="unbounded"/>
       <xsd:element name="nat-rules" type="dac:NatRules"/>
       <xsd:element name="floating-ip-list" type="dac:FloatingIpList" maxOccurs="unbounded"/>
       <xsd:element name="virtual-network-is-routed" type="xsd:boolean"/>
       <xsd:element name="protocols" type="dac:RoutingInstanceProtocols" maxOccurs="unbounded"/>
       <xsd:element name="forwarding-options" type="dac:ForwardingOptions"/>
       <xsd:element name="rib-group" type="xsd:string"/>
       <xsd:element name="vrf-export" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="vrf-import" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FloatingIpMap">
    <xsd:all>
       <xsd:element name="instance-ip" type="xsd:string"/>
       <xsd:element name="floating-ip" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FloatingIpList">
    <xsd:all>
       <xsd:element name="public-routing-instance" type="xsd:string"/>
       <xsd:element name="floating-ips" type="dac:FloatingIpMap" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ForwardingOptions">
    <xsd:all>
        <xsd:element name="dhcp-relay" type="dac:DhcpRelay" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DhcpRelay">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="dhcp-server-ips" type="dac:IpAddress" maxOccurs="unbounded"/>
        <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
        <xsd:element name="dhcp-relay-group" type="xsd:string"/>
        <xsd:element name="in_network" type="xsd:boolean"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Vlan">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="description" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="vlan-id" type="xsd:integer"/>
       <xsd:element name="vxlan-id" type="xsd:integer"/>
       <xsd:element name="l3-interface" type="xsd:string"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PhysicalInterface">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="interface-type" type="dac:InterfaceTypes"/>
       <xsd:element name="mac-address" type="xsd:string"/>
       <xsd:element name="ethernet-segment-identifier" type="xsd:string"/>
       <xsd:element name="link-aggregation-group" type="dac:LinkAggrGroup"/>
       <xsd:element name="logical-interfaces" type="dac:LogicalInterface" maxOccurs="unbounded"/>
       <xsd:element name="telemetry-profile" type="xsd:string"/>
       <xsd:element name="storm-control-profile" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="InterfaceTypes">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="irb"/>
        <xsd:enumeration value="loopback"/>
        <xsd:enumeration value="service"/>
        <xsd:enumeration value="regular"/>
        <xsd:enumeration value="lag"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LinkAggrGroup">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="lacp-enabled" type="xsd:boolean"/>
       <xsd:element name="link-members" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="description" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="LogicalInterface">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="uuid" type="xsd:string"/>
       <xsd:element name="is-tagged" type="xsd:boolean"/>
       <xsd:element name="is-virtual-router" type="xsd:boolean"/>
       <xsd:element name="vlan-tag" type="xsd:string"/>
       <xsd:element name="unit" type="xsd:integer"/>
       <xsd:element name="firewall-filters" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="ip-addresses" type="dac:IpAddress" maxOccurs="unbounded"/>
       <!-- Deprecated - Use ip-addresses -->
       <xsd:element name="ip-list" type="xsd:string" maxOccurs="unbounded"/>
       <xsd:element name="gateway" type="xsd:string"/>
       <xsd:element name="family" type="xsd:string"/>
       <!-- Deprecated - Use ip-addresses -->
       <xsd:element name="interface-mode" type="xsd:string"/>
       <xsd:element name="vlans" type="dac:Vlan" maxOccurs="unbounded"/>
       <xsd:element name="storm-control-profile" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Evpn">
    <xsd:all>
       <xsd:element name="comment" type="xsd:string"/>
       <xsd:element name="encapsulation" type="xsd:string"/>
       <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="From">
    <xsd:all>
        <xsd:element name="community" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="destination-address" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-address" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-ports" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="destination-ports" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="ip-protocol" type="xsd:string"/>
        <xsd:element name="ether-type" type="xsd:string"/>
        <xsd:element name="family" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Then">
    <xsd:all>
        <xsd:element name="community" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="routing-instance" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="source-prefix" type="xsd:string"/>
        <xsd:element name="destination-prefix" type="xsd:string"/>
        <xsd:element name="accept-or-reject" type="xsd:boolean"/>
        <xsd:element name="translation-type" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Term">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="from" type="dac:From"/>
        <xsd:element name="then" type="dac:Then"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SecurityZone">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="interfaces" type="dac:Reference" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SecurityPolicy">
    <xsd:all>
        <xsd:element name="from-zone" type="xsd:string"/>
        <xsd:element name="to-zone" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NatRule">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="direction" type="xsd:string"/>
        <xsd:element name="source-addresses" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="source-prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="destination-addresses" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="destination-prefixes" type="dac:Subnet" maxOccurs="unbounded"/>
        <xsd:element name="translation-type" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="NatRules">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="allow-overlapping-nat-pools" type="xsd:boolean"/>
        <xsd:element name="rules" type="dac:NatRule"  maxOccurs="unbounded"/>
        <xsd:element name="inside-interface" type="xsd:string"/>
        <xsd:element name="outside-interface" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallFilter">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="terms" type="dac:Term" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Firewall">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="family" type="xsd:string"/>
        <xsd:element name="firewall-filters" type="dac:FirewallFilter" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CommunityType">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="members" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="Reference">
  <xsd:all>
    <xsd:element name="name" type="xsd:string"/>
    <xsd:element name="path" type="xsd:string"/>
  </xsd:all>
</xsd:complexType>

<!-- Routing Policies definitions -->
<xsd:simpleType name='ActionType'>
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="reject"/>
        <xsd:enumeration value="accept"/>
        <xsd:enumeration value="next"/>
        <xsd:enumeration value="external-ospf-type-1" description="Valid only for network-device TermType."/>
        <xsd:enumeration value="external-ospf-type-2" description="Valid only for network-device TermType."/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name='AsListType'>
    <xsd:element name='asn-list' type='xsd:integer' maxOccurs='unbounded'/>
</xsd:complexType>

<xsd:complexType name="ActionAsPathType">
    <xsd:element name='expand'   type='dac:AsListType'/>
</xsd:complexType>

<xsd:complexType name='CommunityListType'>
    <xsd:element name='community' type='xsd:string' maxOccurs='unbounded'/>
</xsd:complexType>

<xsd:complexType name='ExtCommunityListType'>
    <xsd:element name='community' type="xsd:string" maxOccurs='unbounded'/>
</xsd:complexType>

<xsd:complexType name="ActionCommunityType">
    <xsd:element name='add'    type='dac:CommunityListType'/>
    <xsd:element name='remove' type='dac:CommunityListType'/>
    <xsd:element name='set'    type='dac:CommunityListType'/>
</xsd:complexType>

<xsd:complexType name="ActionExtCommunityType">
    <xsd:element name='add'    type='dac:ExtCommunityListType'/>
    <xsd:element name='remove' type='dac:ExtCommunityListType'/>
    <xsd:element name='set'    type='dac:ExtCommunityListType'/>
</xsd:complexType>

<xsd:complexType name="ActionUpdateType">
    <xsd:element name="as-path"         type="dac:ActionAsPathType"/>
    <xsd:element name="community"       type="dac:ActionCommunityType"/>
    <xsd:element name="extcommunity"    type="dac:ActionExtCommunityType"/>
    <xsd:element name="local-pref"      type="xsd:integer"/>
    <xsd:element name="med"             type="xsd:integer"/>
</xsd:complexType>

<xsd:complexType name='TermActionListType'>
    <xsd:element name='update'  type='dac:ActionUpdateType'/>
    <xsd:element name='action'  type='dac:ActionType'/>
    <xsd:element name="as-path-expand" type='xsd:string' required='optional'
            description="Valid only for network-device TermType. string should be in format of AS number(s) seperated by spaces"/>
    <xsd:element name="as-path-prepend" type='xsd:string' required='optional'
             description="Valid only for network-device TermType. string should be in format of AS number(s) seperated by spaces"/>
    <xsd:element name="community" type="xsd:string"/> <!-- used for contrail dci intra fabric -->
    <xsd:element name="community-list" type="xsd:string" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:simpleType name='PrefixType'>
    <xsd:restriction base="xsd:string" default="exact">
        <xsd:enumeration value="exact"/>
        <xsd:enumeration value="longer"/>
        <xsd:enumeration value="orlonger"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name='PathSourceType'>
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="bgp"/>
        <xsd:enumeration value="static"/>
        <xsd:enumeration value="interface"/>
        <xsd:enumeration value="interface-static"/>
        <xsd:enumeration value="aggregate" description='valid for both termtype'/>
        <xsd:enumeration value="direct"/>
        <xsd:enumeration value="pim"/>
        <xsd:enumeration value="evpn"/>
        <xsd:enumeration value="ospf"/>
        <xsd:enumeration value="ospf3"/>

    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="PrefixMatchType">
    <xsd:element name="prefix"      type="xsd:string"/>
    <xsd:element name="prefix-type" type="dac:PrefixType"/>
</xsd:complexType>

<xsd:complexType name="TermMatchConditionType">
    <xsd:all>
        <xsd:element name="protocol" type="dac:PathSourceType" maxOccurs="unbounded"/>
        <xsd:element name="prefix" type="dac:PrefixMatchType" maxOccurs="unbounded"/>
        <xsd:element name="community" type="xsd:string"/> <!-- used for contrail dci intra fabric -->
        <xsd:element name="community-list" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="community-match-all" type="xsd:boolean"/>
        <xsd:element name="extcommunity-list" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="extcommunity-match-all" type="xsd:boolean"/>
        <xsd:element name="family" type="dac:FamilyType" required='optional'/>
        <xsd:element name="as-path" type='xsd:integer' required='optional' maxOccurs='unbounded'/>
        <xsd:element name="external" type='dac:ExternalRouteType' required='optional'/>
        <xsd:element name="local-pref" type="xsd:integer" required='optional'/>
        <xsd:element name="nlri-route-type" type='xsd:integer' required='optional' maxOccurs='unbounded'
             description='list of integer values in range of 1 to 10 inclusive.'/>
        <xsd:element name="prefix-list" type='dac:PrefixListMatchType' required='optional' maxOccurs="unbounded"
             description='list of prefixes from interface route table uuids with prefix types.'/>
        <xsd:element name="route-filter" type='dac:RouteFilterType' required='optional'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingPolicyTerm">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="term-match-condition" type="dac:TermMatchConditionType"/>
        <xsd:element name="term-action-list" type="dac:TermActionListType"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingPolicyEntry">
    <xsd:all>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name='term-type' type='dac:TermType'/>
        <xsd:element name="terms" type="dac:RoutingPolicyTerm" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RoutingPolicy">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="comment" type="xsd:string"/>
        <xsd:element name="routing-policy-entries" type="dac:RoutingPolicyEntry" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<!-- RoutingPolicy new types and definiton to support network-device terms -->
<xsd:simpleType name='TermType'>
    <xsd:restriction base="xsd:string" default="vrouter">
        <xsd:enumeration value="vrouter"/>
        <xsd:enumeration value="network-device"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name='FamilyType'>
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="inet"/>
        <xsd:enumeration value="inet-vpn"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name='ExternalRouteType'>
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ospf-type-1"/>
        <xsd:enumeration value="ospf-type-2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="PrefixListMatchType">
    <xsd:element name="prefixes" type='xsd:string' required='true' maxOccurs="unbounded"
             description='list of interface route table uuids used to build list of prefixes.'/>
    <xsd:element name="prefix-type" type="dac:PrefixType"/>
</xsd:complexType>

<xsd:complexType name="RouteFilterType">
    <xsd:all>
        <xsd:element name="route-filter-properties" type="dac:RouteFilterProperties" maxOccurs="unbounded"
             description='List of route filter properties.'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="RouteFilterProperties">
    <xsd:all>
        <xsd:element name="route"    type="xsd:string"  required='true'
             description='route filter IP address or host name.'/>
        <xsd:element name="route-type" type="dac:RouteFType"/>
        <xsd:element name="route-type-value" type="xsd:string" required='optional'
             description="Valid only for through, upto or prefix-length-range RouteFType. Format: for prefix-length-range it stores '/min-length-/max-length'. through should be string, upto stores '/number'"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name='RouteFType'>
    <xsd:restriction base="xsd:string" default="exact">
        <xsd:enumeration value="exact"/>
        <xsd:enumeration value="longer"/>
        <xsd:enumeration value="orlonger"/>
        <xsd:enumeration value="prefix-length-range"/>
        <xsd:enumeration value="through"/>
        <xsd:enumeration value="upto"/>
    </xsd:restriction>
</xsd:simpleType>

</xsd:schema>
