src/schema/firewall_policy.xsd

<!--
 Copyright (c) 2017 Juniper Networks, Inc. All rights reserved.
 -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:smi="urn:ietf:params:xml:ns:opsawg:smi:base:1.0">

<xsd:complexType name="SloRateType">
    <xsd:all>
        <xsd:element name="rate" type="xsd:integer" maxOccurs="1" default='-1'
         description='Rate at which sessions are logged'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SubnetListType">
    <xsd:all>
        <xsd:element name="subnet" type="SubnetType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallServiceType">
    <xsd:all>
        <xsd:element name="protocol"     type="xsd:string"
             description='Layer 4 protocol in ip packet'/>
        <xsd:element name="protocol-id"  type="xsd:integer"
             description='Layer 4 protocol id in ip packet'/>
        <xsd:element name="src-ports"    type="PortType"
             description='Range of source port for layer 4 protocol'/>
        <xsd:element name="dst-ports"    type="PortType"
             description='Range of destination port for layer 4 protocol'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="FirewallServiceGroupType">
    <xsd:element name="firewall-service" type="FirewallServiceType" maxOccurs="unbounded" required='true'/>
</xsd:complexType>

<xsd:complexType name="FirewallRuleEndpointType">
    <xsd:element name="subnet" type="SubnetType"           required='exclusive'
             description='Any workload that belongs to this subnet'/>
    <xsd:element name="virtual-network" type="xsd:string"  required='exclusive'
             description='Any workload that belongs to this virtual network '/>
    <xsd:element name="address-group"   type="xsd:string"  required='exclusive'
             description='Any workload with interface in this address-group'/>
    <xsd:element name="tags"            type="xsd:string"  maxOccurs="unbounded" required='exclusive'
             description='Any workload with tags matching tags in this list'/>
    <xsd:element name="tag-ids"         type="xsd:integer"  maxOccurs="unbounded"
             description='Any workload with tags ids matching all the tags ids in this list'/>
    <xsd:element name="any"             type="xsd:boolean"  required='exclusive'
             description='Match any workload'/>
</xsd:complexType>

<xsd:element name='enable-security-policy-draft' type='xsd:boolean' default='false'
    description_1="When this knob is enabled for a policy scope, all "
    description_2="modifications applied on scoped security resources will not "
    description_3="be enforced until they are intentionally committed."/>

<xsd:element name='pending-delete' type='xsd:boolean' default='false'
    description_1="When this knob is enabled, the security resource was "
    description_2="deleted, but will continue to be enforced until the policy "
    description_3="change is committed."/>

<xsd:element name="service-group" type="ifmap:IdentityType"/>
<xsd:element name="service-group-firewall-service-list" type="FirewallServiceGroupType"/>
<!--#IFMAP-SEMANTICS-IDL
     ListProperty('service-group-firewall-service-list', 'service-group', 'required', 'CRUD',
              'list of service objects (protocol, source port and destination port') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('pending-delete', 'service-group', 'optional', 'R') -->

<!-- Address group associated label to be derived from linked tag object -->
<xsd:element name="address-group" type="ifmap:IdentityType"/>
<xsd:element name="address-group-prefix"  type="SubnetListType" required='true'/>
<!--#IFMAP-SEMANTICS-IDL
     ListProperty('address-group-prefix', 'address-group', 'optional', 'CRUD',
             description='List of IP prefix') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('pending-delete', 'address-group', 'optional', 'R') -->

<xsd:element name="firewall-rule" type="ifmap:IdentityType"/>
<xsd:element name="action-list" type="ActionListType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('action-list', 'firewall-rule', 'required', 'CRUD',
           'Actions to be performed if packets match condition') -->
<xsd:element name="service" type="FirewallServiceType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('service', 'firewall-rule', 'optional', 'CRUD',
           'Service (port, protocol) for packets match condition') -->
<xsd:element name="firewall-rule-service-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-rule-service-group',
          'firewall-rule', 'service-group', ['ref'], 'optional', 'CRUD',
          'Reference to service-group attached to this firewall policy') -->
<xsd:element name="endpoint-1" type="FirewallRuleEndpointType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('endpoint-1', 'firewall-rule', 'required', 'CRUD',
              'match condition for traffic source') -->
<xsd:element name="endpoint-2" type="FirewallRuleEndpointType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('endpoint-2', 'firewall-rule', 'required', 'CRUD',
              'match condition for traffic destination') -->

<xsd:complexType name="FirewallRuleMatchTagsType">
    <xsd:element name="tag-list" type="TagType" maxOccurs="unbounded" required='true'/>
</xsd:complexType>

<xsd:complexType name="FirewallRuleMatchTagsTypeIdList">
    <xsd:element name="tag-type" type="xsd:integer" maxOccurs="unbounded" required='true'/>
</xsd:complexType>

<xsd:element name="match-tags" type="FirewallRuleMatchTagsType"/>
<!--#IFMAP-SEMANTICS-IDL
     ListProperty('match-tags', 'firewall-rule', 'required', 'CRUD',
              'matching tags for source and destination endpoints') -->
<xsd:element name="match-tag-types" type="FirewallRuleMatchTagsTypeIdList"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('match-tag-types', 'firewall-rule', 'required', 'R',
              'matching tags ids for source and destination endpoints') -->
<xsd:element name="direction" type="FirewallRuleDirectionType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('direction', 'firewall-rule', 'required', 'CRUD',
              'Direction in the rule') -->
<xsd:element name="firewall-rule-address-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-rule-address-group',
          'firewall-rule', 'address-group', ['ref'], 'optional', 'R',
          'Reference to address group attached to endpoints') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('pending-delete', 'firewall-rule', 'optional', 'R',) -->

<xsd:complexType name="FirewallSequence">
    <xsd:all>
        <xsd:element name="sequence" type="bgp:SequenceNumberType" required='true'/>
    </xsd:all>
</xsd:complexType>

<xsd:element name="firewall-policy" type="ifmap:IdentityType"/>
<xsd:element name="firewall-policy-firewall-rule" type="FirewallSequence"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-policy-firewall-rule',
          'firewall-policy', 'firewall-rule', ['ref'], 'optional', 'CRUD',
          'Reference to firewall-rule attached to this firewall-policy') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('pending-delete', 'firewall-policy', 'optional', 'R',) -->

<xsd:element name="application-policy-set" type="ifmap:IdentityType"/>
<xsd:element name="application-policy-set-firewall-policy" type="FirewallSequence"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('application-policy-set-firewall-policy',
          'application-policy-set', 'firewall-policy', ['ref'], 'required', 'CRUD',
          'Reference to firewall-policy attached to this application-policy') -->
<xsd:element name="all-applications" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('all-applications', 'application-policy-set', 'optional', 'R',
              'If set, indicates application policy set to be applied to all application tags') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('pending-delete', 'application-policy-set', 'optional', 'R',) -->

<xsd:element name="policy-management" type="ifmap:IdentityType"/>
<xsd:element name="config-root-policy-management"/>
    <!--#IFMAP-SEMANTICS-IDL
        Link('config-root-policy-management',
             'config-root', 'policy-management', ['has'], 'optional', 'CRUD',
             'Global level policy-management object re-grouping global '
             'policy resources.') -->
<xsd:element name="project-policy-management"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-policy-management',
          'project', 'policy-management', ['has'], 'optional', 'CRUD',
          'Project level policy-management object re-grouping project policy '
          'resources') -->
<!--#IFMAP-SEMANTICS-IDL
     Property('enable-security-policy-draft', 'policy-management', 'optional', 'CRUD') -->
<xsd:element name="policy-management-service-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('policy-management-service-group',
          'policy-management', 'service-group', ['has'], 'optional', 'CRUD',
          'Service Group object') -->
<xsd:element name="policy-management-address-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('policy-management-address-group',
          'policy-management', 'address-group', ['has'], 'optional', 'CRUD',
          'Address Group object') -->
<xsd:element name="policy-management-firewall-rule"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('policy-management-firewall-rule',
          'policy-management', 'firewall-rule', ['has'], 'optional', 'CRUD',
          'Firewall-rule object') -->
<xsd:element name="policy-management-firewall-policy"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('policy-management-firewall-policy',
          'policy-management', 'firewall-policy', ['has'], 'optional', 'CRUD',
          'firewall-policy object consisting of one or more firewall rules') -->
<xsd:element name="policy-management-application-policy-set"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('policy-management-application-policy-set',
          'policy-management', 'application-policy-set', ['has'], 'optional', 'CRUD',
          'Application-policy object defining policies to apply for a given application tag') -->

<!--#IFMAP-SEMANTICS-IDL
     Property('enable-security-policy-draft', 'project', 'optional', 'CRUD') -->
<xsd:element name="project-service-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-service-group',
          'project', 'service-group', ['has'], 'optional', 'CRUD',
          'Project level service Group object') -->
<xsd:element name="project-address-group"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-address-group',
          'project', 'address-group', ['has'], 'optional', 'CRUD',
          'Project level address Group object') -->
<xsd:element name="project-firewall-rule"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-firewall-rule',
          'project', 'firewall-rule', ['has'], 'optional', 'CRUD',
          'Project level firewall-rule object') -->
<xsd:element name="project-firewall-policy"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-firewall-policy',
          'project', 'firewall-policy', ['has'], 'optional', 'CRUD',
          'Project level firewall-policy object consisting of one or more firewall rules') -->
<xsd:element name="project-application-policy-set"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-application-policy-set',
          'project', 'application-policy-set', ['has'], 'optional', 'CRUD',
          'Project level application-policy object defining policies to apply for a given application tag') -->
<xsd:element name="project-default-application-policy-set" minOccurs="0" maxOccurs="1"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-default-application-policy-set',
          'project', 'application-policy-set', ['ref'], 'system-only', 'CRUD',
          'Reference to default application-policy-set is automatically '
          'created by system for default socped application policy sets. '
          'Needed by vrouter to identify default application-policy-set rules '
          'of a virtual machine interface') -->
<xsd:element name="application-policy-set-global-vrouter-config"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('application-policy-set-global-vrouter-config',
          'application-policy-set', 'global-vrouter-config', ['ref'], 'system-only', 'CRUD',
          'Reference to global-vrouter-config is automatically created by system for global
           application policy sets') -->
<xsd:element name="firewall-rule-virtual-network"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-rule-virtual-network',
          'firewall-rule', 'virtual-network', ['ref'], 'optional', 'R',
          'Reference to virtual network attached to endpoints') -->
<xsd:element name="firewall-policy-security-logging-object" type="SloRateType"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-policy-security-logging-object',
          'firewall-policy', 'security-logging-object', ['ref'], 'optional', 'CRUD',
          'Reference to security-logging-object attached to this firewall-policy') -->
<xsd:element name="firewall-rule-security-logging-object" type="SloRateType"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('firewall-rule-security-logging-object',
          'firewall-rule', 'security-logging-object', ['ref'], 'optional', 'CRUD',
          'Reference to security-logging-object attached to this firewall-rule') -->
</xsd:schema>
