src/schema/loadbalancer.xsd

<!--
 Copyright (c) 2013 Juniper Networks, Inc. All rights reserved.
 -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xsd:targetNamespace="http://www.contrailsystems.com/loadbalancer.xsd">

<xsd:simpleType name="UuidStringType">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value=
        "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HealthmonitorType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="PING"/>
        <xsd:enumeration value="TCP"/>
        <xsd:enumeration value="HTTP"/>
        <xsd:enumeration value="HTTPS"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LoadbalancerProtocolType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="HTTP"/>
        <xsd:enumeration value="HTTPS"/>
        <xsd:enumeration value="TCP"/>
        <xsd:enumeration value="TERMINATED_HTTPS"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LoadbalancerMethodType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ROUND_ROBIN"/>
        <xsd:enumeration value="LEAST_CONNECTIONS"/>
        <xsd:enumeration value="SOURCE_IP"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SessionPersistenceType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="SOURCE_IP"/>
        <xsd:enumeration value="HTTP_COOKIE"/>
        <xsd:enumeration value="APP_COOKIE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="loadbalancer-pool" type="ifmap:IdentityType"/>
<xsd:element name="project-loadbalancer-pool"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-loadbalancer-pool',
          'project', 'loadbalancer-pool', ['has'], 'optional', 'CRUD',
          'Loadbalancer pool object represent set(pool) memeber servers which needs load balancing.') -->

<xsd:element name="loadbalancer-pool-service-instance"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-service-instance',
          'loadbalancer-pool', 'service-instance', ['ref'], 'system-only', 'CR',
          'Reference to the service instance serving this pool, applicable to LBaaS V1.') -->

<xsd:element name="loadbalancer-pool-virtual-machine-interface"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-virtual-machine-interface',
          'loadbalancer-pool', 'virtual-machine-interface', ['ref'], 'system-only', 'CR',
          'Reference to the virtual machine interface reaching pool subnet, applicable to LBaaS V1.') -->

<xsd:element name="loadbalancer-pool-loadbalancer-listener"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-loadbalancer-listener',
          'loadbalancer-pool', 'loadbalancer-listener', ['ref'], 'optional', 'CRUD',
          'Reference to loadbaancer listner served by this pool, applicabale to LBaaS V2.') -->

<xsd:element name="loadbalancer-pool-properties" type="LoadbalancerPoolType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-pool-properties', 'loadbalancer-pool', 'required', 'CRUD',
              'Configuration for loabalancer pool like protocol, subnet, etc.') -->

<xsd:complexType name='LoadbalancerPoolType'>
    <xsd:sequence>
        <xsd:element name='status' type='xsd:string' required='system-only' operation='R'
             description='Operating status for this loadbalancer pool.'/>
        <xsd:element name='status-description' type='xsd:string' required='system-only' operation='R'
             description='Operating status description for this loadbalancer pool.'/>
        <xsd:element name='admin-state' type='xsd:boolean' default='true' required='optional' operation='CUR'
             description='Administrative up or down'/>
        <xsd:element name='protocol' type='LoadbalancerProtocolType' 
             required='required' operation='CR' description='IP protocol string like http, https or tcp.'/>
        <xsd:element name='loadbalancer-method' type='LoadbalancerMethodType' required='optional' operation='CUR'
             description='Load balancing method ROUND_ROBIN, LEAST_CONNECTIONS, or SOURCE_IP'/>
        <xsd:element name='subnet-id' type='UuidStringType' required='required' operation='CR'
             description='UUID of the subnet from where the members of the pool are reachable.'/>
        <xsd:element name='session-persistence' type='SessionPersistenceType' required='optional' operation='CURD' 
             description='Method for persistence. HTTP_COOKIE, SOURCE_IP or APP_COOKIE.'/>
        <xsd:element name='persistence-cookie-name' type='xsd:string' required='optional' operation='CURD' 
             description='To Be Added'/>
    </xsd:sequence>
</xsd:complexType>

<xsd:element name="loadbalancer-pool-provider" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-pool-provider', 'loadbalancer-pool', 'optional', 'CR',
              'Provider field selects backend provider of the LBaaS, Cloudadmin could offere different levels of service like gold, silver, bronze. Provided by  HA-proxy or various HW or SW appliances in the backend. Applicable to LBaaS V1') -->

<xsd:element name="loadbalancer-pool-service-appliance-set"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-service-appliance-set', 
          'loadbalancer-pool', 'service-appliance-set', ['ref'], 'system-only', 'R'
          'Reference to service-appliance-set where this loadbalancer-pool is hosted. Applicable to LBaaS V1.') -->

<xsd:element name="loadbalancer-pool-custom-attributes" type="KeyValuePairs"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-pool-custom-attributes', 'loadbalancer-pool', 'optional', 'CRUD',
              'Custom loadbalancer config, opaque to the system. Specified as list of Key:Value pairs. Applicable to LBaaS V1.') -->

<xsd:element name="loadbalancer-member" type="ifmap:IdentityType"/>
<xsd:element name="loadbalancer-pool-loadbalancer-member"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-loadbalancer-member',
          'loadbalancer-pool', 'loadbalancer-member', ['has'], 'optional', 'CRUD',
          'Configuration object representing each member of load balancer pool.') -->

<xsd:element name="loadbalancer-member-properties" type="LoadbalancerMemberType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-member-properties', 'loadbalancer-member', 'required', 'CRUD',
              'Member configuration like ip addres, destination port, weight etc.') -->

<xsd:complexType name='LoadbalancerMemberType'>
    <xsd:sequence>
        <xsd:element name='admin-state' type='xsd:boolean' default='true' required='optional' operations='CUR'
             description='Administrative up or down.'/>
        <xsd:element name='status' type='xsd:string' required='system-only' operations='R'
             description='Operational status of the member.'/>
        <xsd:element name='status-description' type='xsd:string' required='system-only' operations='R'
             description='Operational status description of the member.'/>
        <xsd:element name='protocol-port' type='xsd:integer' required='optional' operations='CR'
             description='Destination port for the application on the member.'/>
        <xsd:element name='weight' type='xsd:integer' required='optional' operations='CUR'
             description='Weight for load balancing'/>
        <xsd:element name='address' type='IpAddressType' required='required' operations='CR'
             description='Ip address of the member'/>
    </xsd:sequence>
</xsd:complexType>


<xsd:element name="loadbalancer-healthmonitor" type="ifmap:IdentityType"/>
<xsd:element name="project-loadbalancer-healthmonitor"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-loadbalancer-healthmonitor',
          'project', 'loadbalancer-healthmonitor', ['has'], 'optional', 'CRUD',
          'Health monitor objects is configuration to monitor health of individual pool members.') -->

<xsd:element name="loadbalancer-pool-loadbalancer-healthmonitor"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-pool-loadbalancer-healthmonitor',
          'loadbalancer-pool', 'loadbalancer-healthmonitor', ['ref'], 'optional', 'CRUD',
          'Reference to loadbalancer healthmonitor that this pool uses.') -->

<xsd:element name="loadbalancer-healthmonitor-properties" type="LoadbalancerHealthmonitorType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-healthmonitor-properties', 'loadbalancer-healthmonitor', 'required', 'CRUD',
              'Configuration parameters for health monitor like type, method, retries etc.') -->

<xsd:complexType name='LoadbalancerHealthmonitorType'>
    <xsd:sequence>
        <xsd:element name='admin-state' type='xsd:boolean' default='true' required='optional' operations='CRUD'
             description='Administratively up or dowm.'/>/>
        <xsd:element name='monitor-type' type='HealthmonitorType' required='true' operations='CRUD'
             description='Protocol used to monitor health, PING, HTTP, HTTPS or TCP' />
        <xsd:element name='delay' type='xsd:integer' required='true' operations='CRUD'
             description='Time in seconds  at which health check is repeated'/>
        <xsd:element name='timeout' type='xsd:integer' required='true' operations='CRUD'
             description='Time in seconds to wait for response'/>
        <xsd:element name='max-retries' type='xsd:integer' required='true' operations='CRUD'
             description='Number of failures before declaring health bad'/>
        <xsd:element name='http-method' type='xsd:string' required='optional' operations='CRUD'
             description='In case monitor protocol is HTTP, type of http method used like GET, PUT, POST etc'/>
        <xsd:element name='url-path' type='xsd:string' required='optional' operations='CRUD'
             description='In case monitor protocol is HTTP, URL to be used. In case of ICMP, ip address'/>
        <xsd:element name='expected-codes' type='xsd:string' required='optional' operations='CRUD'
             description='In case monitor protocol is HTTP, expected return code for HTTP operations like 200 ok.'/>
    </xsd:sequence>
</xsd:complexType>


<xsd:element name="virtual-ip" type="ifmap:IdentityType"/>
<xsd:element name="project-virtual-ip"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-virtual-ip',
          'project', 'virtual-ip', ['has'], 'optional', 'CRUD',
          'Virtual ip opject application(protocol, port). Applicable only to LBaaS V1') -->

<xsd:element name="virtual-ip-loadbalancer-pool"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('virtual-ip-loadbalancer-pool',
          'virtual-ip', 'loadbalancer-pool', ['ref'], 'optional', 'CRUD',
          'Reference to the load balancer pool that this virtual ip represent. Applicable only to LBaaS V1') -->

<xsd:element name="virtual-ip-virtual-machine-interface"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('virtual-ip-virtual-machine-interface',
          'virtual-ip', 'virtual-machine-interface', ['ref'], 'optional', 'CRUD',
          'Reference to the virtual machine interface for virtual ip. Applicable only to LBaaS V1') -->

<xsd:element name="virtual-ip-properties" type="VirtualIpType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('virtual-ip-properties', 'virtual-ip', 'required', 'CRUD',
              'Virtual ip configuration like port, protocol, subnet etc.') -->

<xsd:complexType name='VirtualIpType'>
    <xsd:sequence>
        <xsd:element name='address' type='IpAddressType' required='system-only' operation='R'
             description='IP address automatically allocated by system.'/>
        <xsd:element name='status' type='xsd:string' required='system-only' operation='R'
             description='Operating status for this virtual ip.'/>
        <xsd:element name='status-description' type='xsd:string' required='system-only' operation='R'
             description='Operating status description this virtual ip.'/>
        <xsd:element name='admin-state' type='xsd:boolean' default='true' required='optional' operation='CUR'
             description='Administrative up or down.'/>
        <xsd:element name='protocol' type='LoadbalancerProtocolType'
             required='required' operation='CR' description='IP protocol string like http, https or tcp.'/>
        <xsd:element name='protocol-port' type='xsd:integer' required='required' operation='CR' 
             description='Layer 4 protocol destination port.'/>
        <xsd:element name='connection-limit' type='xsd:integer' required='optional' operation='CUR' 
             description='Maximum number of concurrent connections'/>
        <xsd:element name='subnet-id' type='UuidStringType' required='required' operation='CR' 
             description='UUID of subnet in which to allocate the Virtual IP.'/>
        <xsd:element name='persistence-cookie-name' type='xsd:string' required='optional' operation='CURD' 
             description='Set this string if the relation of client and server(pool member) need to persist.'/>
        <xsd:element name='persistence-type' type='SessionPersistenceType' required='optional' operation='CURD' 
             description='Method for persistence. HTTP_COOKIE, SOURCE_IP or APP_COOKIE.'/>
    </xsd:sequence>
</xsd:complexType>

<xsd:element name="loadbalancer-listener" type="ifmap:IdentityType"/>
<xsd:element name="project-loadbalancer-listener"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-loadbalancer-listener',
          'project', 'loadbalancer-listener', ['has'], 'optional', 'CRUD',
          'Listener represents the application(protocol, port) to be load balanced.') -->

<xsd:element name="loadbalancer-listener-loadbalancer"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-listener-loadbalancer',
          'loadbalancer-listener', 'loadbalancer', ['ref']) -->

<xsd:element name="loadbalancer-listener-properties" type="LoadbalancerListenerType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-listener-properties', 'loadbalancer-listener') -->

<xsd:complexType name='LoadbalancerListenerType'>
    <xsd:sequence>
        <xsd:element name='protocol' type='LoadbalancerProtocolType'/>
        <xsd:element name='protocol-port' type='xsd:integer'/>
        <xsd:element name='admin-state' type='xsd:boolean' default='true'/>
        <xsd:element name='connection-limit' type='xsd:integer'/>
        <xsd:element name='default-tls-container' type='xsd:string'/>
        <xsd:element name='sni-containers' type='xsd:string' maxOccurs='unbounded'/>
    </xsd:sequence>
</xsd:complexType>

<xsd:element name="loadbalancer" type="ifmap:IdentityType"/>
<xsd:element name="project-loadbalancer"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-loadbalancer',
          'project', 'loadbalancer', ['has'], 'optional', 'CRUD',
          'Loadbalancer object represents a LBaaS instance. One single Virtual IP and multiple (listeners, pools). Applicable to LBaaS V2.') -->

<xsd:element name="loadbalancer-service-instance"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-service-instance',
          'loadbalancer', 'service-instance', ['ref'], 'system-only', 'CRUD',
          'Reference to the service instance, created automatically by the system.') -->

<xsd:element name="loadbalancer-virtual-machine-interface"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('loadbalancer-virtual-machine-interface',
          'loadbalancer', 'virtual-machine-interface', ['ref'], 'system-only', 'CRUD',
          'Reference to the virtual machine interface for VIP, created automatically by the system.') -->

<xsd:element name="loadbalancer-properties" type="LoadbalancerType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-properties', 'loadbalancer', 'required', 'CRUD',
              'Loadbalance configuration like  admin state, VIP, VIP subnet etc.') -->

<xsd:complexType name='LoadbalancerType'>
    <xsd:sequence>
        <xsd:element name='status' type='xsd:string' required='optional' operations='R'
             description='Operational status of the load balancer updated by system.'/>
        <xsd:element name='provisioning-status' type='xsd:string' required='optional' operations='R'
             description='Provisioning  status of the load balancer updated by system.'/>
        <xsd:element name='operating-status' type='xsd:string' required='optional' operations='R'
             description='Operational status of the load balancer updated by system.'/>
        <xsd:element name='vip-subnet-id' type='UuidStringType' required='required' operations='CR'
             description='Subnet UUID of the subnet of VIP, representing virtual network.'/>
        <xsd:element name='vip-address' type='IpAddressType' required='optional' operations='CR'
             description='Virtual ip for this LBaaS'/>
        <xsd:element name='admin-state' type='xsd:boolean' default='true' required='optional' operations='CUR'
             description='Administrative up or down'/>
    </xsd:sequence>
</xsd:complexType>

<xsd:element name="loadbalancer-provider" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('loadbalancer-provider', 'loadbalancer', 'optional', 'CR',
              'Provider field selects backend provider of the LBaaS, Cloudadmin could offere different levels of service like gold, silver, bronze. Provided by  HA-proxy or various HW or SW appliances in the backend.') -->

</xsd:schema>
