src/schema/structured_syslog_config.xsd

  <!--
 Copyright (c) 2017 Juniper Networks, Inc. All rights reserved.
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ifmap="http://www.trustedcomputinggroup.org/2010/IFMAP/2"
    xmlns:meta="http://www.trustedcomputinggroup.org/2010/IFMAP-METADATA/2">

<xsd:element name="global-analytics-config" type="ifmap:IdentityType"
     description="global analytics config related data"/>
<xsd:element name="global-system-config-global-analytics-config"
     description="structured syslog config related data"/>
<!--#IFMAP-SEMANTICS-IDL
    Link('global-system-config-global-analytics-config',
         'global-system-config', 'global-analytics-config', ['has'],
         'optional', 'CRUD', 'List of global-analytics-config that are
          anchored under global-system-config.')-->

<xsd:element name="structured-syslog-config" type="ifmap:IdentityType"
     description="structured syslog config related data"/>
<xsd:element name="global-analytics-config-structured-syslog-config"
     description="structured syslog config related data"/>
<xsd:element name="project-structured-syslog-config"
     description="project specific structured syslog config related data"/>

<!--#IFMAP-SEMANTICS-IDL
    Link('global-analytics-config-structured-syslog-config',
         'global-analytics-config', 'structured-syslog-config', ['has'],
         'optional', 'CRUD', 'List of structured-syslog-config that are
          applicable to objects anchored under global-analytics-config.');
    Link('project-structured-syslog-config',
         'project', 'structured-syslog-config', ['has'],
         'optional', 'CRUD', 'List of structured-syslog-config that are
          applicable to objects anchored under project.')-->

<xsd:complexType name="FieldNamesList">
    <xsd:all>
        <xsd:element name="field-names" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="StructuredSyslogMessageForwardType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="do-not-forward"
             description='This structured-syslog-message should not be forwarded'/>
        <xsd:enumeration value="forward-unprocessed"
             description='This structured-syslog-message should be
             forwarded without processing'/>
        <xsd:enumeration value="forward-processed"
             description='This structured-syslog-message should be
             forwarded after processing'/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="StructuredSyslogLinkType">
    <xsd:all>
        <xsd:element name="overlay" type="xsd:string"/>
        <xsd:element name="underlay" type="xsd:string"/>
        <xsd:element name="link-type" type="xsd:string"/>
        <xsd:element name="traffic-destination" type="xsd:string"/>
        <xsd:element name="metadata" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StructuredSyslogLinkmap">
    <xsd:all>
        <xsd:element name="links" type="StructuredSyslogLinkType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StructuredSyslogLANSegmentType">
    <xsd:all>
        <xsd:element name="vpn" type="xsd:string"/>
        <xsd:element name="network-ranges" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StructuredSyslogLANSegmentList">
    <xsd:all>
        <xsd:element name="LANSegmentList" type="StructuredSyslogLANSegmentType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StructuredSyslogDSCPType">
    <xsd:all>
        <xsd:element name="dscp-value" type="xsd:string"/>
        <xsd:element name="alias-code" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="StructuredSyslogDSCPMap">
    <xsd:all>
        <xsd:element name="dscpListIPv4" type="StructuredSyslogDSCPType" maxOccurs="unbounded"/>
        <xsd:element name="dscpListIPv6" type="StructuredSyslogDSCPType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:element name="structured-syslog-message" type="ifmap:IdentityType"
     description="structured syslog messages to be handled"/>
<xsd:element name="structured-syslog-config-structured-syslog-message"
     description="structured syslog messages to be handled"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('structured-syslog-config-structured-syslog-message',
          'structured-syslog-config', 'structured-syslog-message',
          ['has'], 'optional', 'CRUD', 'List of
          structured-syslog-message that are applicable to objects
          anchored under structured-syslog-config.')-->
<xsd:element name="structured-syslog-message-tagged-fields" type="FieldNamesList" />
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-tagged-fields',
              'structured-syslog-message', 'required', 'CRUD',
              'list of field names in the message to be tagged') -->
<xsd:element name="structured-syslog-message-integer-fields" type="FieldNamesList" />
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-integer-fields',
              'structured-syslog-message', 'required', 'CRUD',
              'list of integer fields in the message') -->
<xsd:element name="structured-syslog-message-process-and-store"
     type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-process-and-store',
              'structured-syslog-message', 'required', 'CRUD',
              'message is to be processed and stored or not') -->
<xsd:element name="structured-syslog-message-process-and-summarize"
     type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-process-and-summarize',
              'structured-syslog-message', 'required', 'CRUD',
              'message is to be processed and summarized or not') -->
<xsd:element name="structured-syslog-message-process-and-summarize-user"
     type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-process-and-summarize-user',
              'structured-syslog-message', 'required', 'CRUD',
              'message is to be processed and summarized for user or not') -->
<xsd:element name="structured-syslog-message-forward"
     type="StructuredSyslogMessageForwardType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('structured-syslog-message-forward',
              'structured-syslog-message', 'required', 'CRUD',
              'fowarding action to be taken on the message') -->

  <xsd:element name="structured-syslog-hostname-record" type="ifmap:IdentityType"
       description="mapping Hostname to other entities"/>
  <xsd:element name="structured-syslog-config-structured-syslog-hostname-record"
       description="mapping Hostname to other entities"/>
  <!--#IFMAP-SEMANTICS-IDL
       Link('structured-syslog-config-structured-syslog-hostname-record',
            'structured-syslog-config', 'structured-syslog-hostname-record',
            ['has'], 'optional', 'CRUD', 'List of
            structured-syslog-hostname-record that are applicable to objects
            anchored under structured-syslog-config.')-->
  <xsd:element name="structured-syslog-hostaddr" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-hostaddr',
                                    'structured-syslog-hostname-record',
                                    'required', 'CRUD', 'The host address') -->
  <xsd:element name="structured-syslog-tenant" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-tenant',
                                    'structured-syslog-hostname-record',
                                    'required', 'CRUD', 'The tenant name') -->
  <xsd:element name="structured-syslog-location" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-location',
                                    'structured-syslog-hostname-record',
                                    'required', 'CRUD', 'location details') -->
  <xsd:element name="structured-syslog-device" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-device',
                                    'structured-syslog-hostname-record',
                                    'optional', 'CRUD', 'device id') -->
  <xsd:element name="structured-syslog-hostname-tags" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-hostname-tags',
                                    'structured-syslog-hostname-record',
                                    'optional', 'CRUD', 'tags
                                     corresponding to the host') -->
  <xsd:element name="structured-syslog-linkmap" type="StructuredSyslogLinkmap" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-linkmap',
                                    'structured-syslog-hostname-record',
                                    'optional', 'CRUD', 'overlay to
                                     underlay mapping') -->
  <xsd:element name="structured-syslog-lan-segment-list" type="StructuredSyslogLANSegmentList" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-lan-segment-list',
                                    'structured-syslog-hostname-record',
                                    'optional', 'CRUD', 'vpn to
                                     network-ranges mapping') -->


  <xsd:element name="structured-syslog-tenant-record" type="ifmap:IdentityType"
       description="mapping Tenant to other entities"/>
  <xsd:element name="structured-syslog-config-structured-syslog-tenant-record"
       description="mapping Tenant to other entities"/>
  <!--#IFMAP-SEMANTICS-IDL
       Link('structured-syslog-config-structured-syslog-tenant-record',
            'structured-syslog-config', 'structured-syslog-tenant-record',
            ['has'], 'optional', 'CRUD', 'List of
            structured-syslog-tenant-record that are applicable to objects
            anchored under structured-syslog-config.')-->
  <xsd:element name="structured-syslog-tenantaddr" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-tenantaddr',
                                    'structured-syslog-tenant-record',
                                    'required', 'CRUD', 'The tenant address') -->
  <xsd:element name="structured-syslog-tenant" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-tenant',
                                    'structured-syslog-tenant-record',
                                    'required', 'CRUD', 'The tenant name') -->
  <xsd:element name="structured-syslog-tenant-tags" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-tenant-tags',
                                    'structured-syslog-tenant-record',
                                    'optional', 'CRUD', 'tags
                                     corresponding to the tenant') -->
  <xsd:element name="structured-syslog-dscpmap" type="StructuredSyslogDSCPMap" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-dscpmap',
                                    'structured-syslog-tenant-record',
                                    'optional', 'CRUD', 'dscp to
                                     Alias mapping') -->



  <xsd:element name="structured-syslog-application-record"
                      type="ifmap:IdentityType"
                      description="mapping App name to other entities"/>
  <xsd:element name="structured-syslog-config-structured-syslog-application-record"
                      description="mapping App name to other entities"/>
  <!--#IFMAP-SEMANTICS-IDL
      Link('structured-syslog-config-structured-syslog-application-record',
           'structured-syslog-config', 'structured-syslog-application-record',
           ['has'], 'optional', 'CRUD', 'List of
           structured-syslog-application-record that are applicable to objects
           anchored under structured-syslog-config.')-->
  <xsd:element name="structured-syslog-app-category" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-app-category',
                                    'structured-syslog-application-record',
                                    'required', 'CRUD', 'The application
                                     category') -->
  <xsd:element name="structured-syslog-app-subcategory" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-app-subcategory',
                                    'structured-syslog-application-record',
                                    'optional', 'CRUD', 'The application
                                     sub category') -->
  <xsd:element name="structured-syslog-app-groups" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-app-groups',
                                    'structured-syslog-application-record',
                                    'optional', 'CRUD', 'app groups comma
                                     separated') -->
  <xsd:element name="structured-syslog-app-risk" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-app-risk',
                                    'structured-syslog-application-record',
                                    'optional', 'CRUD', 'The application
                                     risk profile') -->
  <xsd:element name="structured-syslog-app-service-tags" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-app-service-tags',
                                    'structured-syslog-application-record',
                                    'optional', 'CRUD', 'service-tags
                                     corresponding to applications') -->

  <xsd:element name="structured-syslog-sla-profile"
                      type="ifmap:IdentityType"
                      description="mapping sla-profile to sla params"/>
  <xsd:element name="structured-syslog-config-structured-syslog-sla-profile"
                      description="mapping sla-profile to sla params"/>
  <!--#IFMAP-SEMANTICS-IDL
      Link('structured-syslog-config-structured-syslog-sla-profile',
           'structured-syslog-config', 'structured-syslog-sla-profile',
           ['has'], 'optional', 'CRUD', 'List of
           structured-syslog-sla-profile that are applicable to objects
           anchored under structured-syslog-config.')-->
  <xsd:element name="structured-syslog-sla-params" type="xsd:string" />
  <!--#IFMAP-SEMANTICS-IDL Property('structured-syslog-sla-params',
                                    'structured-syslog-sla-profile',
                                    'required', 'CRUD', 'The sla
                                     params like sampling %age and
                                     traffic type') -->

  </xsd:schema>

